.Notifications {
    border: 1px dashed #E0354B;
    padding: 16px;
    position: absolute;
    top: 2.5rem;
    right: 1.5%;
}
.Notifications button img {
    width: 20px;
    height: 20px;
}

.Notifications ul {
    margin: 20px 32px;
}

li {
    margin-bottom: 4px;
}

[data-notification-type="default"] {
    color: blue;
}
  
[data-urgent],
[data-notification-type="urgent"] {
    color: red;
}

.menuItem {
    text-align: right;
    padding-top: 1rem;
}