.Notifications {
    border: 1px dashed #E0354B;
    padding: 16px;
    position: relative;
    margin-top: 10px;
}
.Notifications button img {
    width: 20px;
    height: 20px;
}

.Notifications ul {
    margin: 20px 32px;
}
.Notifications ul li {
    margin-bottom: 4px;
}

li[data-priority="default"] {
    color: blue;
}
li[data-priority="urgent"] {
    color: red;
}
